.container {
    margin-top: 20px;
    padding: 5px;
    display: flex;
    max-width: 900px;
}
.latestnews {
    position: static;
}
.blogbutton {
    margin-top: 50px;
    /* margin-left: 20rem; */
}